#PROJECT-PARENT
/.classpath
/.project
/.settings/
/target/

#PROJECT-HB-CURSO-JASPER-COMMONS
/tt-isscom-commons/.classpath
/tt-isscom-commons/target/
/tt-isscom-commons/.project
/tt-isscom-commons/.settings/

#PROJECT-HB-CURSO-JASPER-MODEL
/tt-isscom-model/.classpath
/tt-isscom-model/target/
/tt-isscom-model/.project
/tt-isscom-model/.settings/

#PROJECT-HB-CURSO-JASPER-BUSINESS
/tt-isscom-bussines/.classpath
/tt-isscom-bussines/target/
/tt-isscom-bussines/.project
/tt-isscom-bussines/.settings/

#PROJECT-HB-CURSO-JASPER
/tt-isscom/.classpath
/tt-isscom/target/
/tt-isscom/.project
/tt-isscom/.settings/